<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarTrawlerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>13B00D44214BC8C6000FFF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13B00D5C214BC8C7000FFF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13B00D67214BC8C7000FFF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
